html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.5s;
    scroll-behavior: smooth;
}

*::selection {
    background-color: #FFF600;
    color: #ffffff;
    transition: all ease 1s;
    font-size: 21px;
}

body {
    background-color: black;
}

:root {
    --yellow-color: #FFF600;
}

.navbar {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    width: 95%;
    left: 2.5%;
    background-color: #0D0D0D;
    min-height: 70px;
    border-top: 3px solid #262626;
    border-radius: 30px;
    position: fixed;
    top: 10px;
    z-index: 9999;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar a {
    text-decoration: none;
    color: #626262;
    font-weight: 700;
}

.navbar a:hover {
    color: #bbbbbb;
}

.navbar button {
    padding: 10px 20px;
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    border: none;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.page_1 {
    margin-top: 100px;
    min-height: 80vh;
    width: 100%;
    background: transparent;
    background-size: 50px 50px;
    position: relative;
    background-image: linear-gradient(to right, #626262, transparent 2px),
        linear-gradient(#626262, transparent 2px);
    padding: 0px 50px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_1 h1 {
    font-size: 56px;
}

.page_1 .heading {
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.page_1 .backGround_effect {
    background: radial-gradient(transparent 10px, black);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page_1 h1 span {
    color: var(--yellow-color);
    text-shadow: 0px 0px 10px var(--yellow-color);
}

.heading_1 {
    width: 70%;
}

.heading_2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.heading_button {
    gap: 20px;
    display: flex;
}

.heading p {
    font-size: 25px;
    color: #626262;
}

.heading_button button:nth-child(1) {
    padding: 10px 20px;
    background-color: var(--yellow-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}

.heading_button button:nth-child(2) {
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid gray;
    background: transparent;
    color: white;
    font-size: 16px;
}

.page_2 {
    height: 60vh;
    width: 90%;
    margin: 20px auto;
    background: #262626;
    border-top: 2px solid #626262;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page_2 img {
    height: 100%;
    width: 300px;
}

.page_2 .img_1 img {
    z-index: 30;
    position: relative;
    transform: rotate(20deg) translate(100px);
}

.page_2 .img_2 {
    z-index: 31;
    align-self: flex-end;
}

.page_2 .img_3 {
    transform: rotate(20deg) translate(-100px);
}

.page_3 {
    min-height: 40vh;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 40px;
}

.page_3 .page_3_left_content p {
    color: var(--yellow-color);
    font-weight: 700;
    font-size: 24px;
}

.page_3 .page_3_left_content h1 {
    font-size: 48px;
    color: #CACACA;
    font-weight: 500;
}

.page_3 .page_3_right_content p {
    font-size: 20px;
    color: #626262;
}

.page_3_bottom {
    padding: 0px 40px;

}

.page_3_bottom button {
    height: 40px;
    width: 40px;
    background-color: #0D0D0D;
    border-radius: 50%;
    border: none;
    color: #ffffff;
}

.page_boxes_commit {
    min-width: 40vh;
    margin-top: 20px;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.page_boxes_commit ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    gap: 10px;
    overflow: hidden;
    width: fit-content;
}

.page_boxes_commit ul li {
    position: relative;
    border-top: 2px solid #626262;
    align-self: flex-start;
    width: 300px;
    background: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    transition: ease 1s !important;
}

.page_boxes_commit ul li .yellow_gradient {
    transform: translateX(-100%) translateY(-100%);
    height: 400px;
    width: 400px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-image: radial-gradient(circle farthest-side at 0% 0%, #fff70088, #0d0d0d00 70%);
    /* background-color: yellow; */
}

.page_boxes_commit ul li:hover .yellow_gradient {
    transform: translate(0px);
}

.page_boxes_commit ul li h1 {
    font-size: 38px;
    margin: 10px 0px;
    color: #ffffff;
    font-weight: 400;
}

.page_boxes_commit ul li p {
    color: #626262;
}

.page_boxes_commit ul li svg {
    color: var(--yellow-color);

}

.page_boxes_commit ul li button svg {
    color: #000000;
}

.page_boxes_commit ul li button {
    padding: 10px 20px;
    height: 40px;
    width: fit-content;
    opacity: 0;
    background-color: var(--yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    border: none;
    color: #000000;
}

.page_boxes_commit ul li:hover button {
    opacity: 1;
}

.page_boxes_commit ul li .btn {
    height: 0px;
    overflow: hidden;
    width: 100%;
}

.page_boxes_commit ul li:hover .btn {
    height: 40px;
}

.page_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    margin: 100px 0px;
    gap: 20px;
}

.page_4>div {
    width: 50%;
}

.page_4 .left_content_page_4 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.page_4 .left_content_page_4 h4 {
    font-size: 24px;
    color: var(--yellow-color);
}

.page_4 .left_content_page_4 h1 {
    font-size: 56px;
    color: #bbbbbb;
    font-weight: 400;
}

.page_4 .left_content_page_4 h1+p {
    color: #626262;
}

.rate_content {
    display: flex;
    width: 100%;
    min-height: 150px;
    align-items: center;
    justify-content: space-around;
}

.rate_content div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rate_content h2 {
    font-size: 40px;
    color: var(--yellow-color);
    font-weight: 700;
    text-shadow: 0px 0px 10px var(--yellow-color);
}

.rate_content p {
    color: #CACACA;
    font-size: 20px;
}

.page_4 .right_content_page_4 {
    overflow: hidden !important;
    min-height: 60vh;
    width: 50%;
    background-color: #262626;
    position: relative;
    border-radius: 20px;
    border-top: 2px solid #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.page_4 .right_content_page_4::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, transparent, black);
}

.page_4 .right_content_page_4 img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 250px;
}

.page_5 {
    min-height: 100vh;
    color: #ffffff;
    padding: 0px 40px;
}

.page_5 h4 {
    color: var(--yellow-color);
    text-shadow: 0px 0px 10px var(--yellow-color);
    font-weight: 700;
    font-size: 30px;
}

.page_5 h1 {
    font-size: 56px;
    color: #bbbbbb;
    margin: 10px 0px;
}

.page_5 p {
    margin: 20px 0px;
    color: #626262;
    font-size: 20px;
}

.page_5 button {
    margin: 20px 0px;
    height: 40px;
    width: 40px;
    background-color: #0D0D0D;
    border-radius: 50%;
    border: none;
    color: #ffffff;
}

.commit_boxes {
    min-height: 40vh;
    overflow-x: hidden;
    width: 100%;
}

.commit_boxes ul {
    display: flex !important;
    align-items: center;
    justify-content: start;
    gap: 10px;
    list-style: none;
}

.commit_boxes ul li {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 500px;
    gap: 20px;
    background-color: #0D0D0D;
    border-radius: 10px;
    border-top: 2px solid #626262;
}

.commit_boxes ul li svg {
    color: var(--yellow-color);
}

.commit_boxes ul li .profile_section {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.commit_boxes ul li .profile_section img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.commit_boxes ul li .profile_section .profile_content h4 {
    color: #ffffff;
    text-shadow: none;
    font-weight: 300;
}

.commit_boxes ul li .profile_section .profile_content h5 {
    color: #626262;
}

.page_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    margin: 50px 0px;
}

.page_6 h5 {
    color: var(--yellow-color);
    font-size: 20px;
}

.page_6 h1 {
    color: #bbbbbb;
    font-size: 40px;
    width: 60%;
    text-align: center;
}

.page_6 p {
    width: 60%;
    text-align: center;
    font-size: 20px;
    color: #626262;
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pricing .card {
    padding: 40px;
    background: #0d0d0d;
    width: 400px;
    border-radius: 20px;
    border-top: 2px solid #bbbbbb;
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.pricing .card_2 {
    background-image: radial-gradient(circle farthest-side at 0% 0%, #fff70088, #0d0d0d 70%);
}

.pricing h1 {
    width: 100%;
    text-align: left;
    color: #ffffff;
}

.pricing p {
    text-align: left;
    width: 100%;
    color: #CACACA;
}

.pricing h2 {
    font-size: 25px;
    color: #ffffff;
}

.pricing button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}

.pricing .card_1 button {
    background-color: #bbbbbb;
}

.pricing .card_2 button {
    background-color: var(--yellow-color);
}

.pricing .card ul {
    list-style: url("./assets/img/gray_check.svg");
    margin-left: 20px;
    color: #ffffff;
}

.pricing .card_2 ul {
    list-style: url("./assets/img/yellow_check.svg");
    margin-left: 20px;
    color: #ffffff;
}

.pricing ul span {
    position: relative;
    top: -5px;
}

.page_7 {
    min-height: 100vh;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.page_7 h5 {
    color: var(--yellow-color);
    text-shadow: 0px 0px 10px var(--yellow-color);
    text-align: center;
}

.page_7 h1 {
    font-size: 48px;
    width: 50%;
    color: #bbbbbb;
    text-align: center;
    margin: auto;
}
.page_7 p{
    color: #626262;
}
.page_7 .list {
    width: 90%;
}

.page_7 .list ul li {
    margin: 10px 0px;
    border-radius: 20px;
    border-top: 2px solid #626262;
    background: #0d0d0d;
    padding: 20px;
    list-style: none;
    color: #626262;
}

.list .list_header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 20px;
    font-size: 30px;
    color: #ffffff;
    gap: 20px;
}

.list .list_content {
    padding: 0px 20px;
    height: 0;
    transition: all ease 0.5s;
    overflow: hidden;
}

/* .list ul li:hover .list_content{
    height: 100px;
} */
.list ul li .list_content h3 {
    padding: 20px;
    font-weight: 200;
    font-size: 20px;
}
button:hover{
    transform: scale(0.9);
}
.page_8{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 100px;
}
.page_8 .box{
    min-height: 50vh;
    width: 90%;
    display: flex;
    align-items: end;
    justify-content: center;
    background: #262626;
    padding: 0px 20px;
    border-top: 2px solid #626262;
    border-radius: 20px;
    margin: 20px 0px;
}
.left_content_page_8{
    align-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0px 0px 0px;
}
.left_content_page_8 h1{
    font-size: 56px;
    color: #bbbbbb;
    font-weight: 400;
}
.left_content_page_8 p{
    color: #626262;
}
.right_content_page_8{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 50%;
}
.right_content_page_8 img{
    width: 300px;
}
footer{
    padding: 0px 20px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
footer ul{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
footer ul li a{
    color: #626262;
    text-decoration: none;
}
footer h4{
    color: #bbbbbb;
    margin: 20px 0px;
}
footer input{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #626262;
    color: #ffffff;
}
footer button{
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--yellow-color);
    box-shadow: 0px 0px 10px 0px var(--yellow-color);
    border: none;
}
footer input:active{
    outline: none;
    border: none;
}
@media (max-width:1000px) {
    .heading_1 {
        width: 100%;
    }
}

@media screen and (max-width:850px) {
    .navbar .logo img {
        width: 130px;
    }

    .navbar ul {
        display: none;
    }

    .page_1 h1 {
        font-size: 40px;
    }

    .page_1 .heading {
        flex-direction: column;
        gap: 10px;
    }

    .heading_2 .heading_button {
        flex-direction: column;
    }

    .page_2 {
        margin-top: 100px;
    }

    .page_2 .img_1 {
        display: none;
    }

    .page_2 .img_3 {
        display: none;
    }

    .page_3 {
        flex-direction: column;
    }

    .page_4 .left_content_page_4 h1 {
        font-size: 48px;
    }

    .page_4 {
        flex-direction: column;
    }

    .page_4>div {
        width: 100%;
    }

    .page_4 .right_content_page_4 {
        width: 100%;
    }

    .pricing {
        flex-direction: column;
    }

    .pricing .card {
        width: 100%;
    }
    .page_7 h1{
        width: 100%;
    }
    .page_7 p{
        width: 100%;
        text-align: center;
    }
    .list_header{
        font-size: 30px;
    }
    .page_8 .box{
        flex-direction: column;
        padding: 0px 20px;
        gap: 20px;
    }
    .page_8 .left_content_page_8 h1 {
        font-size: 35px;
    }
    .page_8 .right_content_page_8{
        width: 100%;
    }
}

@media (max-width:400px) {
    .page_1 h1 {
        font-size: 30px;
    }

    .heading p {
        font-size: 20px;
        color: #626262;
    }

    .page_3 .page_3_left_content p {
        font-size: 18px;
    }

    .page_3 .page_3_left_content h1 {
        font-size: 30px;
    }

    .page_3 .page_3_right_content p {
        font-size: 16px;
    }

    .page_4 .left_content_page_4 h1 {
        font-size: 38px;
    }

    .heading_button {
        flex-direction: column;
    }

    .page_4 .right_content_page_4 {
        width: 100%;
    }

    .page_4 .right_content_page_4 img {
        width: 100%;
    }

    .rate_content div {
        align-items: start;
    }

    .commit_boxes ul li {
        min-width: 100%;
    }

    .page_5 h4 {
        font-size: 25px;
    }

    .page_5 h1 {
        font-size: 35px;
    }

    .page_5 p {
        font-size: 16px;
    }

    .page_6 h5 {
        font-size: 18px;
    }

    .page_6 h1 {
        font-size: 30px;
        width: 100%;
    }

    .page_6 p {
        width: 100%;
        font-size: 16px;
    }

    .pricing {
        flex-direction: column;
    }

    .pricing .card {
        width: 300px;
    }

    .page_7 .list {
        width: 100%;
    }

    .list .list_header {
        font-size: 18px;
    }

    .list ul li .list_content h3 {
        font-size: 14px;
        padding: 0;
    }

    .page_7 {
        align-items: start;
    }
    .page_7 h1{
        font-size: 30px;
        width: 100%;
        text-align: left;
    }
    .page_8 .right_content_page_8 img{
        width: 200px;
    }
    footer{
        flex-direction: column;
    }
}